*{
  margin: 0;
  padding: 0;
}
#reader__scan_region{
  height: 450px;
  width: 600px;
  border-radius: 1rem;
}
#reader__scan_region > img{
  filter: invert(1);
  display: block;
  margin: auto auto auto auto;
  height: 100%;
  user-select: none;
}
#reader__scan_region > br{
  display: none;
}
#reader > div:nth-child(1) > img{
  filter: invert(1);
  user-select: none;
  display: none;
}
body{
  font-family: monospace;
  background-color: #101010;
  color: white;
  padding: 2rem;
  margin: 0;
}
h1{
  color: #A71F28;
  font-size: 2rem;
  margin-bottom: 1rem;
}
h3{
  margin-block: 1rem;
}
#reader{
  background: linear-gradient(0deg, #0F0F0F, #1f1f1f);
  box-shadow: inset 0 0 0 2px #A71F28;
  border: none !important;
  padding: 1rem;
  border-radius: 1rem;
}
#reader__dashboard{
  background: #101010;
  padding: 1rem;
  box-shadow: inset 0 0 0 2px #A71F28;
  border-radius: 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: fit-content !important;
  height: 80px;
}
#html5-qrcode-button-camera-permission{
  background: #A71F28;
  padding: 0.5rem;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}
#html5-qrcode-select-camera{
  background: #555555;
  padding: 0.5rem;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}
#html5-qrcode-button-camera-start{
  background: #A71F28;
  padding: 0.5rem;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}
#html5-qrcode-anchor-scan-type-change{
  display: block;
  padding-block: 0.5rem;
  width: 100%;
  text-align: center;
}
#html5-qrcode-button-camera-stop{
  background: #A71F28;
  padding: 0.5rem;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}
tbody{
  background: #202020;
  padding: 10px;
  border: none;
  color: white;
}
td{
  padding: 10px;
  border: 1px solid #404040;
  color: white;
}
